
* {
    font-size: 1em;
    margin: 0;
    outline: medium none;
    padding: 0;
    text-decoration: none;
}
code, kbd, samp, pre, tt, var, textarea, input, select, xmp {
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    font-family: inherit;
    font-size: 1em;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: normal;
}
dfn, i, cite, var, address, em {
    font-style: normal;
}
th, b, strong, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a, img, a img, form, fieldset, abbr, acronym, object, table {
    border: medium none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td, center {
    text-align: left;
    vertical-align: top;
}
body {
    background: none repeat scroll 0 0 white;
    color: black;
    line-height: 1;
}
q {
    quotes: "" "";
}
ul, ol {
    list-style: none outside none;
}
sub, sup {
    vertical-align: baseline;
}
a {
    color: inherit;
}
body {
    font-family: "Frutiger","Helvetica Neue",arial,helvetica,sans-serif;
    font-size: 75%;
}
html > body {
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    color: #C10037;
    font-size: 1.6667em;
    line-height: 0.9em;
    margin: 0 0 0.9em;
}
h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0 0 1em;
}
h3 {
    font-size: 1.3333em;
    line-height: 1.125em;
    margin: 0 0 1.125em;
}
h4 {
    font-size: 1.1667em;
    line-height: 1.2857em;
    margin: 0 0 1.2857em;
}
p, ul, blockquote, pre, td, th, label {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 1.5em;
}
code {
    background-color: #F7F7F7;
    border: 1px dashed #CCCCCC;
    clear: left;
    display: block;
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.25em;
    margin: 1em;
    overflow-x: auto;
    padding: 0.5em;
    position: relative;
    white-space: pre;
}
strong, b {
    font-weight: bold;
}
em {
    font-style: italic;
}
sup, sub {
    font-size: 0.85em;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: 0.5ex;
}
caption {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0.25em;
    margin-top: 1em;
}
table, thead, tbody, tr, th, td {
    font-size: 1em;
    line-height: 1.5em;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 0.1em solid #CCCCCC;
    padding: 5px;
}
th {
    color: #FFFFFF;
    font-weight: bold;
}
thead th {
    background: none repeat scroll 0 0 #C10037;
    color: #FFFFFF;
    font-size: 1.1em;
}
thead td {
    background-color: #DDDDDD;
}
tbody th {
    background-color: #DDDDDD;
    color: #555555;
}
tfoot {
    font-weight: bold;
}
td.empty {
    background-color: transparent;
    border: 0 none;
}
thead td.table_group {
    font-size: 1.05em;
    font-weight: bold;
}
th.header {
    background-image: url("../images/sort.gif");
    background-position: 95% 7px;
    background-repeat: no-repeat;
    color: #EEEEEE;
    padding-right: 16px;
}
th.headerSortUp {
    background-image: url("../images/sort_up.gif");
    background-position: 95% 7px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-right: 16px;
}
th.headerSortDown {
    background-image: url("../images/sort_down.gif");
    background-position: 95% 7px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-right: 16px;
}
FORM {
    margin: 1.5em 0 0;
    padding: 0;
    position: relative;
}
FIELDSET {
    border-top: 2px solid #C10037;
    color: #555555;
    margin: 0 0 15px;
    padding: 1em;
}
LEGEND {
    background-color: inherit;
    color: #555555;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
    padding: 0.5em;
}
LABEL {
    margin: 0;
}
.image_button {
    background-color: transparent;
    border: 0 none;
}
.image_button:hover, .image_buttom:active, .image_buttom:focus {
    background-color: transparent;
    border: 0 none;
}
.rlabel {
    clear: both;
    float: left;
    margin-right: 5px;
    position: relative;
    text-align: right;
    width: 7em;
}
.right_label {
    clear: both;
    float: left;
    margin-right: 0.5em;
    position: relative;
    text-align: right;
    width: 12em;
}
.input_comment {
    font-size: 0.9em;
    margin-bottom: 1em;
    padding-left: 14em;
}
OPTGROUP {
    background: none repeat scroll 0 0 #EEEEEE;
    border-top: 1px solid #808080;
    color: #000000;
}
OPTION {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
BUTTON {
}
SELECT, INPUT, TEXTAREA, BUTTON {
    background-color: #EEEEEE;
    border: 1px solid #555555;
    color: #555555;
    font-style: normal;
    margin-bottom: 1.5em;
    padding: 1px;
    vertical-align: middle;
}
INPUT {
    height: 1.5em;
}
SELECT {
    padding: 0;
}
TEXTAREA:focus, SELECT:focus, INPUT:focus, BUTTON:focus {
    background-color: #DDDDDD;
    border-color: #555555;
    color: #555555;
}
TEXTAREA:hover, SELECT:hover, INPUT:hover, BUTTON:hover {
    background-color: #DDDDDD;
    border-color: #555555;
    color: #555555;
}
INPUT[disabled], SELECT[disabled] {
    background-color: #AAAAAA;
    background-image: none;
    color: #EEEEEE;
}
INPUT[disabled]:active {
    border: 1px outset black;
}
TEXTAREA {
    width: 90%;
}
label.error {
    color: #C10037;
    font-weight: bold;
    margin-left: 1em;
    width: 200px;
}
SELECT.error, INPUT.error, TEXTAREA.error {
    border: 2px solid #C10037;
    margin-left: 0;
}
INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"], button, button:visited, .button, .button:visited {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/button-overlay.png") repeat-x scroll 0 0 #C10037;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    line-height: 1;
    padding: 3px 10px 4px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
INPUT[type="button"]:hover, INPUT[type="submit"]:hover, INPUT[type="reset"]:hover, button:hover, .button:hover {
    background-color: #872300;
    color: #FFFFFF;
}
INPUT[type="button"]:active, INPUT[type="submit"]:active, INPUT[type="reset"]:active, button:active, .button:active {
    top: 1px;
}
.invalid {
    background-color: #FFCCBA;
    border: 1px solid;
    color: #D63301;
    display: block;
    margin-top: 2px;
    padding: 2px;
}
input.invalid {
    background-color: #EEEEEE;
    background-image: none;
    display: inline;
    margin: 0;
    padding: 1px;
}
ul, ol {
    margin: 0 0 1.5em 1em;
    padding: 0 0 0 0.5em;
}
ul {
    list-style: disc outside none;
}
ol {
    list-style: decimal inside none;
}
li {
    line-height: 1.5em;
}
dl {
    margin: 0 0 1.5em;
    padding: 0;
}
dt {
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 1.5em;
}
dd {
    line-height: 1.5em;
    margin-left: 0;
    padding-left: 0.75em;
}
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.ui-helper-reset {
    border: 0 none;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}
.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ui-helper-clearfix {
    display: inline-block;
}
* html .ui-helper-clearfix {
    height: 1%;
}
.ui-helper-clearfix {
    display: block;
}
.ui-helper-zfix {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-state-disabled {
    cursor: default !important;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}
.ui-widget-content {
    background: url("../images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
}
.ui-widget-content a {
    color: #222222;
}
.ui-widget-header {
    background: url("../images/ui-bg_highlight-soft_75_c10037_1x100.png") repeat-x scroll 50% 50% #C10037;
    border: 1px solid #AAAAAA;
    color: #FFFFFF;
    font-weight: bold;
}
.ui-widget-header a {
    color: #FFFFFF;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: url("../images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
    border: 1px solid #999999;
    color: #212121;
    font-weight: normal;
}
.ui-state-hover a, .ui-state-hover a:hover {
    color: #212121;
    text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: url("../images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #212121;
    font-weight: normal;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}
.ui-widget:active {
    outline: medium none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: url("../images/ui-bg_glass_55_fbf9ee_1x400.png") repeat-x scroll 50% 50% #FBF9EE;
    border: 1px solid #FCEFA1;
    color: #363636;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #363636;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    background: url("../images/ui-bg_inset-soft_95_fef1ec_1x100.png") repeat-x scroll 50% bottom #FEF1EC;
    border: 1px solid #CD0A0A;
    color: #CD0A0A;
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #CD0A0A;
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #CD0A0A;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    font-weight: normal;
    opacity: 0.7;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    background-image: none;
    opacity: 0.35;
}
.ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png");
    height: 16px;
    width: 16px;
}
.ui-widget-content .ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png");
}
.ui-widget-header .ui-icon {
    background-image: url("../images/ui-icons_ffffff_256x240.png");
}
.ui-state-default .ui-icon {
    background-image: url("../images/ui-icons_888888_256x240.png");
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("../images/ui-icons_454545_256x240.png");
}
.ui-state-active .ui-icon {
    background-image: url("../images/ui-icons_454545_256x240.png");
}
.ui-state-highlight .ui-icon {
    background-image: url("../images/ui-icons_2e83ff_256x240.png");
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url("../images/ui-icons_cd0a0a_256x240.png");
}
.ui-icon-carat-1-n {
    background-position: 0 0;
}
.ui-icon-carat-1-ne {
    background-position: -16px 0;
}
.ui-icon-carat-1-e {
    background-position: -32px 0;
}
.ui-icon-carat-1-se {
    background-position: -48px 0;
}
.ui-icon-carat-1-s {
    background-position: -64px 0;
}
.ui-icon-carat-1-sw {
    background-position: -80px 0;
}
.ui-icon-carat-1-w {
    background-position: -96px 0;
}
.ui-icon-carat-1-nw {
    background-position: -112px 0;
}
.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}
.ui-icon-carat-2-e-w {
    background-position: -144px 0;
}
.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}
.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}
.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
    background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}
.ui-icon-arrow-4 {
    background-position: 0 -80px;
}
.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}
.ui-icon-extlink {
    background-position: -32px -80px;
}
.ui-icon-newwin {
    background-position: -48px -80px;
}
.ui-icon-refresh {
    background-position: -64px -80px;
}
.ui-icon-shuffle {
    background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}
.ui-icon-folder-open {
    background-position: -16px -96px;
}
.ui-icon-document {
    background-position: -32px -96px;
}
.ui-icon-document-b {
    background-position: -48px -96px;
}
.ui-icon-note {
    background-position: -64px -96px;
}
.ui-icon-mail-closed {
    background-position: -80px -96px;
}
.ui-icon-mail-open {
    background-position: -96px -96px;
}
.ui-icon-suitcase {
    background-position: -112px -96px;
}
.ui-icon-comment {
    background-position: -128px -96px;
}
.ui-icon-person {
    background-position: -144px -96px;
}
.ui-icon-print {
    background-position: -160px -96px;
}
.ui-icon-trash {
    background-position: -176px -96px;
}
.ui-icon-locked {
    background-position: -192px -96px;
}
.ui-icon-unlocked {
    background-position: -208px -96px;
}
.ui-icon-bookmark {
    background-position: -224px -96px;
}
.ui-icon-tag {
    background-position: -240px -96px;
}
.ui-icon-home {
    background-position: 0 -112px;
}
.ui-icon-flag {
    background-position: -16px -112px;
}
.ui-icon-calendar {
    background-position: -32px -112px;
}
.ui-icon-cart {
    background-position: -48px -112px;
}
.ui-icon-pencil {
    background-position: -64px -112px;
}
.ui-icon-clock {
    background-position: -80px -112px;
}
.ui-icon-disk {
    background-position: -96px -112px;
}
.ui-icon-calculator {
    background-position: -112px -112px;
}
.ui-icon-zoomin {
    background-position: -128px -112px;
}
.ui-icon-zoomout {
    background-position: -144px -112px;
}
.ui-icon-search {
    background-position: -160px -112px;
}
.ui-icon-wrench {
    background-position: -176px -112px;
}
.ui-icon-gear {
    background-position: -192px -112px;
}
.ui-icon-heart {
    background-position: -208px -112px;
}
.ui-icon-star {
    background-position: -224px -112px;
}
.ui-icon-link {
    background-position: -240px -112px;
}
.ui-icon-cancel {
    background-position: 0 -128px;
}
.ui-icon-plus {
    background-position: -16px -128px;
}
.ui-icon-plusthick {
    background-position: -32px -128px;
}
.ui-icon-minus {
    background-position: -48px -128px;
}
.ui-icon-minusthick {
    background-position: -64px -128px;
}
.ui-icon-close {
    background-position: -80px -128px;
}
.ui-icon-closethick {
    background-position: -96px -128px;
}
.ui-icon-key {
    background-position: -112px -128px;
}
.ui-icon-lightbulb {
    background-position: -128px -128px;
}
.ui-icon-scissors {
    background-position: -144px -128px;
}
.ui-icon-clipboard {
    background-position: -160px -128px;
}
.ui-icon-copy {
    background-position: -176px -128px;
}
.ui-icon-contact {
    background-position: -192px -128px;
}
.ui-icon-image {
    background-position: -208px -128px;
}
.ui-icon-video {
    background-position: -224px -128px;
}
.ui-icon-script {
    background-position: -240px -128px;
}
.ui-icon-alert {
    background-position: 0 -144px;
}
.ui-icon-info {
    background-position: -16px -144px;
}
.ui-icon-notice {
    background-position: -32px -144px;
}
.ui-icon-help {
    background-position: -48px -144px;
}
.ui-icon-check {
    background-position: -64px -144px;
}
.ui-icon-bullet {
    background-position: -80px -144px;
}
.ui-icon-radio-off {
    background-position: -96px -144px;
}
.ui-icon-radio-on {
    background-position: -112px -144px;
}
.ui-icon-pin-w {
    background-position: -128px -144px;
}
.ui-icon-pin-s {
    background-position: -144px -144px;
}
.ui-icon-play {
    background-position: 0 -160px;
}
.ui-icon-pause {
    background-position: -16px -160px;
}
.ui-icon-seek-next {
    background-position: -32px -160px;
}
.ui-icon-seek-prev {
    background-position: -48px -160px;
}
.ui-icon-seek-end {
    background-position: -64px -160px;
}
.ui-icon-seek-start {
    background-position: -80px -160px;
}
.ui-icon-seek-first {
    background-position: -80px -160px;
}
.ui-icon-stop {
    background-position: -96px -160px;
}
.ui-icon-eject {
    background-position: -112px -160px;
}
.ui-icon-volume-off {
    background-position: -128px -160px;
}
.ui-icon-volume-on {
    background-position: -144px -160px;
}
.ui-icon-power {
    background-position: 0 -176px;
}
.ui-icon-signal-diag {
    background-position: -16px -176px;
}
.ui-icon-signal {
    background-position: -32px -176px;
}
.ui-icon-battery-0 {
    background-position: -48px -176px;
}
.ui-icon-battery-1 {
    background-position: -64px -176px;
}
.ui-icon-battery-2 {
    background-position: -80px -176px;
}
.ui-icon-battery-3 {
    background-position: -96px -176px;
}
.ui-icon-circle-plus {
    background-position: 0 -192px;
}
.ui-icon-circle-minus {
    background-position: -16px -192px;
}
.ui-icon-circle-close {
    background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}
.ui-icon-circle-check {
    background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}
.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}
.ui-corner-tl {
    border-top-left-radius: 2px;
}
.ui-corner-tr {
    border-top-right-radius: 2px;
}
.ui-corner-bl {
    border-bottom-left-radius: 2px;
}
.ui-corner-br {
    border-bottom-right-radius: 2px;
}
.ui-corner-top {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.ui-corner-bottom {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.ui-corner-right {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.ui-corner-left {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.ui-corner-all {
    border-radius: 2px 2px 2px 2px;
}
.ui-widget-overlay {
    background: url("../images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #AAAAAA;
    opacity: 0.3;
}
.ui-widget-shadow {
    background: url("../images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #AAAAAA;
    border-radius: 8px 8px 8px 8px;
    margin: -8px 0 0 -8px;
    opacity: 0.3;
    padding: 8px;
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    display: block;
    font-size: 0.1px;
    position: absolute;
    z-index: 99999;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    left: 0;
    top: -5px;
    width: 100%;
}
.ui-resizable-s {
    bottom: -5px;
    cursor: s-resize;
    height: 7px;
    left: 0;
    width: 100%;
}
.ui-resizable-e {
    cursor: e-resize;
    height: 100%;
    right: -5px;
    top: 0;
    width: 7px;
}
.ui-resizable-w {
    cursor: w-resize;
    height: 100%;
    left: -5px;
    top: 0;
    width: 7px;
}
.ui-resizable-se {
    bottom: 1px;
    cursor: se-resize;
    height: 12px;
    right: 1px;
    width: 12px;
}
.ui-resizable-sw {
    bottom: -5px;
    cursor: sw-resize;
    height: 9px;
    left: -5px;
    width: 9px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    height: 9px;
    left: -5px;
    top: -5px;
    width: 9px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    height: 9px;
    right: -5px;
    top: -5px;
    width: 9px;
}
.ui-selectable-helper {
    border: 1px dotted black;
    position: absolute;
    z-index: 100;
}
.ui-accordion {
    width: 100%;
}
.ui-accordion .ui-accordion-header {
    cursor: pointer;
    margin-top: 1px;
    position: relative;
}
.ui-accordion .ui-accordion-li-fix {
    display: inline;
}
.ui-accordion .ui-accordion-header-active {
    border-bottom: 0 none !important;
}
.ui-accordion .ui-accordion-header a {
    display: block;
    font-size: 1em;
    padding: 0.5em 0.5em 0.5em 0.7em;
}
.ui-accordion-icons .ui-accordion-header a {
    padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon {
    left: 0.5em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-accordion .ui-accordion-content {
    border-top: 0 none;
    display: none;
    margin-bottom: 2px;
    margin-top: -2px;
    overflow: auto;
    padding: 1em 2.2em;
    position: relative;
    top: 1px;
}
.ui-accordion .ui-accordion-content-active {
    display: block;
}
.ui-autocomplete {
    cursor: default;
    position: absolute;
}
* html .ui-autocomplete {
    width: 1px;
}
.ui-menu {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1.5;
    padding: 0.2em 0.4em;
    text-decoration: none;
}
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}
.ui-button {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
}
.ui-button-icon-only {
    width: 2.2em;
}
button.ui-button-icon-only {
    width: 2.4em;
}
.ui-button-icons-only {
    width: 3.4em;
}
button.ui-button-icons-only {
    width: 3.7em;
}
.ui-button .ui-button-text {
    display: block;
    line-height: 1.4;
}
.ui-button-text-only .ui-button-text {
    padding: 0.4em 1em;
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    padding: 0.4em;
    text-indent: -1e+7px;
}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: 0.4em 1em 0.4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: 0.4em 2.1em 0.4em 1em;
}
.ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em;
}
input.ui-button {
    padding: 0.4em 1em;
}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
    left: 0.5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
    right: 0.5em;
}
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
    right: 0.5em;
}
.ui-buttonset {
    margin-right: 7px;
}
.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -0.3em;
}
button.ui-button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.ui-dialog {
    overflow: hidden;
    padding: 0.2em;
    position: absolute;
    width: 300px;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
}
.ui-dialog .ui-dialog-title {
    float: left;
    margin: 0.1em 16px 0.1em 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    height: 18px;
    margin: -10px 0 0;
    padding: 1px;
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 19px;
}
.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}
.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    padding: 0.5em 1em;
    position: relative;
}
.ui-dialog .ui-dialog-buttonpane {
    background-image: none;
    border-width: 1px 0 0;
    margin: 0.5em 0 0;
    padding: 0.3em 1em 0.5em 0.4em;
    text-align: left;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
}
.ui-dialog .ui-resizable-se {
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
}
.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}
.ui-slider-horizontal {
    height: 0.8em;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}
.ui-slider-horizontal .ui-slider-range {
    height: 100%;
    top: 0;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-slider-vertical {
    height: 100px;
    width: 0.8em;
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-bottom: -0.6em;
    margin-left: 0;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
.ui-tabs {
    padding: 0.2em;
    position: relative;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    display: block;
    padding: 1em 1.4em;
}
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
.ui-datepicker {
    display: none;
    padding: 0.2em 0.2em 0;
    width: 17em;
}
.ui-datepicker .ui-datepicker-header {
    padding: 0.2em 0;
    position: relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
}
.ui-datepicker table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0 0 0.4em;
    width: 100%;
}
.ui-datepicker th {
    border: 0 none;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}
.ui-datepicker td {
    border: 0 none;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    cursor: pointer;
    float: right;
    margin: 0.5em 0.2em 0.4em;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto 0.4em;
    width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
}
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    left: auto;
    right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    left: auto;
    right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}
.ui-datepicker-cover {
    display: block;
    height: 200px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 200px;
    z-index: -1;
}
.hasDatepicker {
    background-image: url("../images/calendar-icon.gif");
    background-position: 2px 50%;
    background-repeat: no-repeat;
    padding-left: 18px;
    text-align: center;
    width: 78px;
}
.ui-progressbar {
    height: 2em;
    text-align: left;
}
.ui-progressbar .ui-progressbar-value {
    height: 100%;
    margin: -1px;
}
body {
    background: url("../images/content_back_wide.gif") repeat-y scroll center top #EEEEEE;
    color: #555555;
    margin: 0;
    padding: 0;
}
a, a:link {
    color: #C10037;
    text-decoration: underline;
}
a:visited {
    color: #BD5C1A;
}
a:hover {
    color: #007A86;
}
a img {
    border: 0 none;
}
.clear {
    clear: both;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
#page {
    margin: 0 auto;
    width: 960px;
}
.content {
    overflow: auto;
    padding: 20px;
    position: relative;
    width: auto;
}
hr {
    display: block;
    margin: 1em 0;
}
#skipnav a, #skipnav a:hover, #skipnav a:visited {
    color: #FFFFFF;
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -500px;
    width: 1px;
}
#skipnav ul:active, #skipnav a:active, #skipnav a:focus {
    height: auto;
    position: static;
    width: auto;
}
.hide {
    background-color: #FFFFFF;
    color: #000000;
    display: none;
}
#unm_header {
    background-color: #5E5D60;
    border-bottom: 1px solid #232323;
    border-top: 1px solid #232323;
    height: auto;
    overflow: auto;
}
#unm_header_links a {
    text-decoration: none;
}
.unm_header_title {
    float: left;
    padding-left: 20px;
    padding-top: 1px;
}
.unm_header_title a {
    color: #FFFFFF;
    font-size: 0.95em;
    font-weight: bold;
    line-height: 1.5em;
    text-decoration: none;
}
.header_content {
    margin: 0 auto;
    overflow: visible;
    padding: 1px 0 2px;
    width: 960px;
}
#unm_logo {
    float: left;
    margin: 0;
    vertical-align: top;
    z-index: 10;
}
#unm_header_links {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
    text-align: right;
}
#unm_header_links ul {
    display: inline;
    margin: 0;
    padding: 0;
}
#unm_header_links li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
}
#unm_header_links li a, .unm_panel_open {
    color: #FFFFFF;
    font-size: 0.95em;
    font-weight: bold;
    line-height: 1.5em;
}
#unm_header_links li a:hover {
    color: #EEEEEE;
}
#unm_search_form {
    color: #FFFFFF;
    display: inline;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}
#unm_search_form div {
    display: inline !important;
}
#unm_search_form fieldset {
    border: 0 none;
    display: inline;
    margin: 0;
    padding: 0;
}
#unm_search_form input {
    border: 0 none;
    height: 16px;
    margin: 0;
    vertical-align: middle;
}
#unm_search_form p {
    margin: 0;
    padding: 0;
}
#unm_search_form label {
    display: none;
    margin: 0;
}
#unm_search_form .search_button {
    background-color: transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
}
#unm_search_form .search_button:hover {
    background-color: #E97D1F;
}
#unm_search_form input.image_button {
    background-color: transparent;
    border: 0 none;
}
#unm_search_form label.search_query_label {
    color: #FFFFFF;
}
#dept_logo {
    clear: both;
    margin: 5px 1px;
}
#banner_image {
    clear: both;
    height: 125px;
    margin: 0 0 1px;
    padding: 0;
    text-align: center;
}
#container {
    clear: both;
    margin: 5px 0;
}
div#footer {
    clear: both;
    font-size: 0.9em;
    line-height: 0.9em;
    margin-top: 1em;
}
div#footer div.content {
    background: url("../images/graybar.gif") repeat-x scroll 0 0 #FFFFFF;
    margin: 0 1.75em;
    padding: 1em 0;
    text-align: right;
}
div#footer p {
    display: block;
    float: left;
    margin: 0;
    text-align: left;
}
ul#unm_footer_links {
    display: inline;
    margin: 0;
    padding: 0;
}
ul#unm_footer_links li {
    display: inline;
    list-style-type: none;
    margin: 0 1em 0 0;
    padding: 0;
}
#dropnav {
    background: none repeat scroll 0 0 #666666;
    margin: 0;
    padding: 5px 0 0;
}
#dropnav li {
    float: left;
    list-style: none outside none;
    margin: 0 5px;
    padding: 0;
    position: relative;
    z-index: 1;
}
#dropnav a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
}
#dropnav a.submenu {
    background: url("../images/unm_sprites.gif") no-repeat scroll right -112px transparent;
    padding-left: 10px !important;
    padding-right: 17px !important;
}
#dropnav a.submenu:hover {
    background: url("../images/unm_sprites.gif") no-repeat scroll right -112px #EEEEEE;
    padding-left: 10px !important;
    padding-right: 20px;
}
#dropnav a.current {
    background-color: #FFFFFF;
    color: #C10037;
}
#dropnav li:hover > a.submenu {
    background: url("../images/unm_sprites.gif") no-repeat scroll right -112px #EEEEEE;
}
#dropnav li:hover > a {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #666666;
}
#dropnav ul li:hover a, #dropnav li:hover li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #666666;
}
#dropnav ul a:hover, #dropnav ul li:hover {
    background: none repeat scroll 0 0 #999999 !important;
    color: #FFFFFF !important;
}
#dropnav ul li:hover a {
    color: #FFFFFF;
}
#dropnav li:hover > ul {
    display: block;
}
#dropnav ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: -moz-use-text-color #666666 #666666;
    border-image: none;
    border-right: 1px solid #666666;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: none;
    left: 0;
    margin: 0 0 0 -1px;
    padding: 0;
    position: absolute;
    top: 28px;
    width: 185px;
    z-index: 999;
}
#dropnav ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#dropnav ul a {
    font-weight: normal;
}
#dropnav ul li a.submenu {
    background: url("../images/unm_sprites.gif") no-repeat scroll right -70px transparent;
    padding-left: 10px !important;
    padding-right: 17px !important;
}
#dropnav ul li:hover a.submenu, #dropnav ul li a.submenu:hover {
    background: url("../images/unm_sprites.gif") no-repeat scroll right 11px transparent !important;
    padding-right: 17px;
}
#dropnav ul ul {
    background-color: #999999;
    border: 1px solid #999999;
    color: #FFFFFF;
    left: 185px;
    padding: 0;
    top: 0;
}
#dropnav ul ul a:hover {
    background: none repeat scroll 0 0 #EEEEEE !important;
    color: #666666 !important;
}
#dropnav {
    display: inline-block;
    width: 100%;
}
ul.slidemenu {
    font-weight: bold;
    list-style-type: none;
    margin: 0 0 2em;
    padding: 0;
}
ul.slidemenu ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
ul.slidemenu li {
    background: url("../images/dot.gif") repeat-x scroll left bottom transparent;
    list-style: none outside none;
    padding: 0 0 1px;
}
ul.slidemenu li a, ul.slidemenu li a:link, ul.slidemenu li a:visited {
    color: #555555;
    display: block;
    padding: 3px 5px 3px 15px;
    text-decoration: none;
}
ul.slidemenu li ul li {
    padding: 0 0 1px 1px;
}
ul.slidemenu li a:hover {
    background-color: #C10037;
    color: #FFFFFF;
}
ul.slidemenu li.submenu > a:hover {
    background: url("../images/unm_sprites.gif") no-repeat scroll 0 9px #C10037;
    color: #FFFFFF;
}
ul.slidemenu li a.active {
    background-color: #CCCCCC;
}
ul.slidemenu li ul {
    margin: 0 0 0 10px;
    padding: 0;
}
ul.slidemenu li ul {
    background: url("../images/dot.gif") repeat-y scroll left top transparent;
}
ul.slidemenu li:hover ul li a {
    background-color: transparent;
    color: #555555;
}
ul.slidemenu li ul li:hover a {
    background-color: #CCCCCC;
    color: #555555;
}
ul.slidemenu li.submenu > a {
    background: url("../images/unm_sprites.gif") no-repeat scroll 0 -72px transparent;
}
ul.slidemenu li.openMenu > a {
    background: url("../images/unm_sprites.gif") no-repeat scroll 0 -32px #555555;
    color: #FFFFFF;
}
ul.slidemenu li.openMenu {
    background-image: none;
    padding: 0;
}
ul.slidemenu li.openMenu > a:hover {
    background: url("../images/unm_sprites.gif") no-repeat scroll 0 -32px #C10037;
    color: #FFFFFF;
}
.slidemenu_all {
    font-size: 0.9em;
    margin: 0.5em;
    text-align: center;
}
.quickfindarea {
    margin: 1.5em 0;
}
.quickfindarea h2 {
    color: #C10037;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0;
}
.quickfindarea ul {
    list-style: none outside none;
    margin: 0;
}
.quickfindarea ul li a {
    color: #333333;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 0 5px;
    padding-top: 1px;
}
.quickfindarea ul li a:hover {
    color: #C10037;
    text-decoration: underline;
}
.quicklist {
    margin: 1.5em 0;
}
.quicklist h2 {
    color: #C10037;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0;
}
.quicklist ul {
    list-style-position: outside;
    margin: 0 0 0 1em;
}
.quicklist ul li {
    margin-bottom: 3px;
}
.quicklist ul li a {
    color: #333333;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding-top: 1px;
}
.quicklist ul li a:hover {
    color: #C10037;
    text-decoration: underline;
}
ul#unm_breadcrumbs {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-left: 0;
    overflow: hidden;
    padding: 2px 0;
}
ul#unm_breadcrumbs li {
    border: medium none;
    display: inline;
    list-style: none outside none;
    margin-left: 0;
    padding: 1px;
}
ul#unm_breadcrumbs .breadcrumb-div {
    color: #333333;
    padding: 0 3px;
}
ul#unm_breadcrumbs li.unm_home:before {
    content: " ";
}
.cherry {
    color: #C10037;
}
.highlight {
    background-color: yellow;
}
.box {
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    padding: 10px;
}
.center-text {
    text-align: center;
}
.right {
    float: right;
    margin: 0 0 1em 1em;
}
.left {
    float: left;
    margin: 0 1em 1em 0;
}
.vcard {
    margin-top: 2em;
}
.vcard p {
    font-size: 0.95em;
    line-height: 1.2em;
}
#news h2, #events h2 {
    background: url("../images/grey-drop-arrow.png") no-repeat scroll left bottom transparent;
    border: 0 none;
    color: #FFFFFF;
    margin-bottom: 0.25em;
    padding: 5px 10px 13px;
}
#feature {
    background: url("../images/drop_bottom.gif") no-repeat scroll center bottom #FFFFFF;
    border-top: 1px solid #BFBFBF;
    padding-bottom: 21px;
    padding-top: 3px;
    position: relative;
    width: 680px;
}
#feature .feature_text {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 350px;
}
#feature .feature_text h1 {
    font-size: 1.5em;
    margin: 0;
}
#feature .feature_text p {
    font-size: 1.2em;
    margin: 0.5em 0 1em;
}
.readmore {
    text-align: right;
}
.hidden {
    display: none;
}
.related_links {
    background-color: #DDDDDD;
    border-top: 1px solid #555555;
    padding: 10px;
}
.feature {
    background: url("../images/drop_bottom.gif") no-repeat scroll center bottom #FFFFFF;
    border-top: 1px solid #BFBFBF;
    padding-bottom: 21px;
    padding-top: 3px;
    position: relative;
}
.feature .feature_text {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 350px;
}
.feature .feature_text h1 {
    font-size: 1.5em;
    margin: 0;
}
.feature .feature_text p {
    font-size: 1.2em;
    margin: 0.5em 0 1em;
}
#social_toolbar {
    clear: both;
    line-height: 16px;
    margin: 0;
    padding: 0 20px;
    position: relative;
    text-align: right;
}
ul.share {
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0;
}
div.share_links {
    background: url("../images/share_back.png") no-repeat scroll left top transparent;
    display: none;
    height: 275px;
    position: absolute;
    right: 40px;
    text-align: left;
    top: -275px;
    width: 150px;
    z-index: 10;
}
div.share_links ul.share {
    margin-top: 15px;
}
.share a {
    background: url("../images/unm_sprites.gif") no-repeat scroll 0 0 transparent;
    display: block;
    padding: 3px 0 4px 40px;
}
a.share_delicious {
    background-position: 15px -270px;
}
a.share_digg {
    background-position: 15px -189px;
}
a.share_facebook {
    background-position: 15px -230px;
}
a.share_twitter {
    background-position: 15px -432px;
}
a.share_email {
    background-position: 15px -472px;
}
a.share_mixx {
    background-position: 15px -148px;
}
a.share_reddit {
    background-position: 15px -311px;
}
a.share_myspace {
    background-position: 15px -391px;
}
a.share_stumbleupon {
    background-position: 15px -350px;
}
span.print {
    background: url("../images/unm_sprites.gif") no-repeat scroll 0 -553px transparent;
    color: #C10037;
    cursor: pointer;
    padding: 5px 0 5px 20px;
    text-decoration: underline;
}
span.sharethis {
    background: url("../images/unm_sprites.gif") no-repeat scroll 0 -513px transparent;
    color: #C10037;
    cursor: pointer;
    padding: 3px 0 4px 20px;
    text-decoration: underline;
}
#unm_panel {
    background-color: #333333;
    color: #FFFFFF;
    display: none;
    left: 0;
    opacity: 0.98;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
#unm_panel_content {
    color: #FFFFFF;
    margin: 0 auto;
    opacity: 1;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    width: 940px;
}
#unm_panel h2 {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
.unm_panel_open {
    background: url("../images/unm_sprites.gif") no-repeat scroll 100% -35px transparent;
    cursor: pointer;
    font-weight: bold;
    padding-right: 16px;
}
span.panel_link {
    padding-right: 16px;
}
#unm_panel_close {
    background: url("../images/unm_panel_back.gif") repeat-x scroll left bottom #333333;
    clear: both;
    cursor: pointer;
    padding-right: 5px;
    position: relative;
    text-align: right;
    width: auto;
    z-index: 1;
}
#unm_panel_tab {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
}
#unm_panel_col1 {
    float: left;
    margin: 0 10px;
    width: 420px;
}
#unm_panel_col2 {
    float: left;
    margin: 0 10px;
    width: 250px;
}
#unm_panel_col3 {
    float: left;
    margin: 0 10px;
    width: 210px;
}
#unm_panel a, #unm_panel a:visited {
    background-image: none;
    color: #FFFFFF;
}
#unm_panel ul.panel_links {
    list-style: none outside none;
    margin: -10px 0 0;
    padding: 0;
}
#unm_panel ul.panel_links li {
    background: url("../images/panel_sprites.png") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0 5px;
    padding: 10px 0 5px 45px;
    width: 155px;
}
#unm_panel ul.panel_links li:hover {
    background-color: #999999;
}
#unm_panel ul.panel_links li h3 {
    margin: 0;
}
#unm_panel ul.panel_links li a, #unm_panel ul.panel_links li a:visited {
    color: #FFFFFF;
}
#unm_panel ul.panel_links li.panel_link_library {
    background-position: 5px 12px;
}
#unm_panel ul.panel_links li.panel_link_gw {
    background-position: 5px -500px;
}
#unm_panel ul.panel_links li.panel_link_webmail {
    background-position: 5px -244px;
}
#unm_panel ul.panel_links li.panel_link_webct {
    background-position: 5px -180px;
}
#unm_panel ul.panel_links li.panel_link_studentinfo {
    background-position: 5px -308px;
}
#unm_panel ul.panel_links li.panel_link_fastinfo {
    background-position: 5px -436px;
}
#unm_panel ul.panel_links li.panel_link_myunm {
    background-position: 5px -52px;
}
#unm_panel ul.panel_links li.panel_link_az {
    background-position: 5px -372px;
}
#unm_panel ul.panel_links li.panel_link_directory {
    background-position: 5px -116px;
}
#unm_alert {
    background: url("../images/message_icons/alert.png") no-repeat scroll 60px 10px #C10037;
    color: #FFFFFF;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    padding: 15px 100px;
}
#unm_alert h1 {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-bottom: 0.25em;
}
#unm_alert a {
    color: #FFFFFF;
}
#unm_alert p {
    margin: 0;
}
.unm_weather {
    color: #FFFFFF;
}
#unm_weather_header {
    border-bottom: 1px solid #999999;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 0;
}
.unm_weather_timestamp {
    font-size: 0.7em;
    font-weight: normal;
}
.unm_weather_current_img {
    float: left;
}
.unm_weather_current_img img {
}
#unm_weather_current_conditions {
    font-size: 1.25em;
    height: 128px;
    margin-left: 125px;
    text-align: left;
}
.unm_weather_current_temp {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
.unm_weather_temps {
    margin-bottom: 10px;
}
.unm_weather_current_condition {
    font-size: 1.2em;
}
.unm_weather_data {
    float: left;
    padding-right: 20px;
}
#unm_weather_conditions {
    border-bottom: 1px solid #999999;
    margin-bottom: 10px;
    padding: 10px 0;
}
#unm_weather_current_details {
    font-size: 0.75em;
}
.info, .success, .warning, .error, .alert {
    background-position: 10px 15px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 10px 0;
    padding: 15px 10px 15px 50px;
}
.info {
    background-color: #BDE5F8;
    background-image: url("../images/message_icons/info.png");
    color: #00529B;
}
.success {
    background-color: #DFF2BF;
    background-image: url("../images/message_icons/success.png");
    color: #4F8A10;
}
.warning {
    background-color: #FEEFB3;
    background-image: url("../images/message_icons/warning.png");
    color: #9F6000;
}
.error {
    background-color: #FFBABA;
    background-image: url("../images/message_icons/error.png");
    color: #D8000C;
}
.alert {
    background-color: #FFCCBA;
    background-image: url("../images/message_icons/alert.png");
    color: #D63301;
}
#container {
    background-color: transparent;
    margin: 0 auto;
    overflow: auto;
    width: 960px;
}
#container.fullwidth {
}
#container.col2 {
    background: url("../images/container_back.gif") repeat-y scroll -721px 0 transparent;
}
#container.col3 {
    background: url("../images/container_back.gif") repeat-y scroll -241px 0 transparent;
}
#primary_aside {
    position: relative;
}
.fullwidth #primary_aside {
}
.fullwidth #primary_aside .content {
    padding-bottom: 0;
    padding-top: 0;
}
.col2 #primary_aside {
    float: left;
    width: 240px;
}
.col3 #primary_aside {
    float: left;
    min-height: 400px;
    width: 240px;
}
#secondary_aside {
    position: relative;
}
.fullwidth #secondary_aside {
}
.col2 #secondary_aside {
    clear: left;
    float: left;
    width: 240px;
}
.col3 #secondary_aside {
    float: right;
    width: 240px;
}
#content_top {
    background-color: #FFFFFF;
}
#content_top .content {
    overflow: auto;
    padding-bottom: 2px !important;
    position: relative;
}
.fullwidth #content_top {
}
.col2 #content_top {
    float: right;
    width: 720px;
}
.col3 #content_top {
    float: right;
    width: 720px;
}
#content {
    position: relative;
}
.fullwidth #content {
}
.col2 #content {
    float: right;
    width: 720px;
}
.col3 #content {
    float: left;
    width: 480px;
}

ul.slidemenu li a.active {
    background-color: #CCCCCC;
}